<div class="border border-5 border-warning p-5">
  location: <input type="text" [(ngModel)]="location" />

  <button type="button" class="btn btn-primary" (click)="seaerch()">
    seaerch
  </button>
  <br />
  <br />

  <ng-template adHost></ng-template>

  <br />
  <br />

  <div
    *ngIf="url"
    style="
      position: relative;
      padding-bottom: 54.6%;
      height: 0;
      overflow: hidden;
      width: 35%;
      height: auto;
    "
  >
    <iframe
      title="3 Tage Trend"
      frameborder="0"
      [src]="url"
      style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
      scrolling="no"
    ></iframe>
  </div>
</div>
